
Powertrain/Accumulator/Subpack/cell holders wirebond side.SLDPRT
Powertrain/Accumulator/Subpack/FE12 Subpack Prototype Kyle.SLDASM
Powertrain/Accumulator/Subpack/negative terminal plate.SLDPRT
Powertrain/Accumulator/Subpack/side walls.SLDPRT
Powertrain/Accumulator/Subpack/subpack floor.SLDPRT
Powertrain/Accumulator/Subpack/supback busbar - parallel.SLDPRT
Powertrain/Accumulator/Subpack/supback busbar - series.SLDPRT
Powertrain/Accumulator/Subpack/supback terminal busbar - left.SLDPRT
Powertrain/Accumulator/Subpack/supback terminal busbar - right.SLDPRT
Powertrain/Accumulator/Subpack/wirebond protection wall.SLDPRT
